@using TimGame.Web.Models
@model TimGame.Web.Models.PageVM

@{
    ViewBag.Title = "StoryScene";
}

<div class="row">
    <img src="/Public/Img/@Model.BackgroundUrl">
    @foreach (var m in Model.CharactersOnPage)
    {
        string positionStyle = $"top: {m.PositionY}px; left: {m.PositionX}px";

        <div class="@m.Name" style="@positionStyle"></div>

    }


    <div class="friend">
        <div class="bubble">
            <div class="bubblewords">
                @foreach (var p in Model.Phrases.OrderBy(x => x.Order))
                {
                    <p class="phrase">@p.CharacterName: @p.EnglishText</p>
                }
            </div>
            <button class="btn btn-danger" id="continueText">Continue...</button>
        </div>
    </div>
    
</div>

<div class="row">




    @if (Model.NextPageId != null)
    {
        <div class="col-md-1 col-md-offset-10">

            @Html.ActionLink("Next Page >", "StoryScene", new { nextPageNum = Model.NextPageId }, new { @class = "btn btn-primary float-right" })
        </div>
    }

</div>


@*<div id="typed-strings-english" style="display: none;">
        @foreach (var p in Model.Phrases.OrderBy(x => x.Order))
        {
            <p class="phrase">@p.CharacterName: ^500 @p.EnglishText</p>
        }
    </div>


    <div id="typed-strings-chinese" style="display: none;">
        @foreach (var p in Model.Phrases.OrderBy(x => x.Order))
        {
            <p class="phrase">@p.CharacterName: ^500 @p.ChineseText</p>
        }
    </div>*@


@section scripts {

}
