@model TimGame.Web.Models.PageVM

@{
    ViewBag.Title = "StoryScene";
}


<div class="scene-background">
    <img src="/Public/Img/@Model.BackgroundUrl">

    <div class="tim">
    </div>

    <div class="friend">
    <div class="bubble">
        <div class="bubblewords">

        </div>
    </div>
    </div>
</div>





<button id="clickme">Move Forward</button>

<div id="typed-strings-english" style="display: none;">
    @foreach (var p in Model.Phrases.OrderBy(x => x.Order))
    {
        <p class="phrase">@p.CharacterName: ^500 @p.EnglishText</p>
    }
</div>


<div id="typed-strings-chinese" style="display: none;">
    @foreach (var p in Model.Phrases.OrderBy(x => x.Order))
    {
        <p class="phrase">@p.CharacterName: ^500 @p.ChineseText</p>
    }
</div>

@if (Model.NextPageId != null)
{
    @Html.ActionLink("Next Page >", "StoryScene", new { nextPageNum = Model.NextPageId })
}



@section scripts {
    <script>
        $(function () {

            var bubbleType = $(".bubblewords").typed({
                stringsElement: $('#typed-strings-english'),
                typeSpeed: 0,
                onStringTyped: function () {
                    bubbleType.stop();
                },

            });

            $('#clickme').click(function () { bubbleType.start(); });

        });

    </script>
}